* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
  color: rgba(0, 0, 0, 0.651);
}
.search-box {
  position: relative;
  display: flex;
}
.search-box .search-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box .input-search {
  outline: none;
  width: 350px;
  border-left-style: none;
  border: none;
  background: none;
}
.search-box {
  position: relative;
  display: flex;
  border: 1px solid #0000002e;
  border-radius: 7px;
}
.fas.fa-search {
  color: #00000052;
}
.wrapper {
  background: #fff;
  margin-top: 2rem;
  border-radius: 8px;
}
.form-label {
  margin-bottom: 0.5rem;
  display: block;
}
#comment {
  margin-top: 0.6rem;
  height: 10rem;
}
.box {
  padding: 1rem 0;
}

.input-group-text {
  border-radius: 0;
  height: 53px;
  border-left-style: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.date .form-control {
  border-right-style: none;
}
.date .form-control:focus {
  box-shadow: none;
}
#country:hover {
  background: white;
  outline: none;
  box-shadow: none;
}
#country {
  background: white;
  border: 0;
  padding: 0.4rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0003;
  color: #0000008a;
}
.fa.fa-calendar {
  color: #0000ffb5;
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding: 80px 0;
}
